* {
  box-sizing: border-box;
}

.profile-holder {
  max-width: 1140px;
  display: flex;
  flex-wrap: nowrap;
  margin: 0 auto;
}

.profile-item {
  flex-grow: 1;
}

.profile-title {
  font-size: 21px;
}

.ul-profile {
  border-top: 1px solid #555;
  border-left: 1px solid #555;
  border-right: 1px solid #555;
  border-radius: 4px;
  margin-right: 20px;
}

.li-profile {
  border-bottom: 0.5px solid #555;
  padding: 20px;
}

.ul-profile.last-child {
  margin: 0;
}
